@media (max-width: 1400px) {
  /* index page */
  /* nav-bar */
  .nav-bar {
    justify-content: space-between;
    gap: 0px;
  }
  .nav-ul {
    gap: 25px;
    margin-right: 40px;
  }
  /* nav-bar end */

  .banner-container {
    height: 300lvh;
  }
  .bottle-branding {
    gap: 70px;
  }
  .bottle-branding h2 {
    font-size: 37px;
  }
  .fade-container h2 {
    font-size: 75px;
  }
  /* about-us page */
  .our-section-card {
    padding: 47px;
  }
  .our-section-card h2 {
    text-align: center;
  }
  .donot-incorporate h2 {
    font-size: 45px;
  }
  .incorporate h2 {
    font-size: 45px;
  }
  .donot-incorporate ul {
    font-size: 24px;
  }
  .incorporate ul {
    font-size: 24px;
  }
  .card-container-all {
    justify-content: center;
    gap: 30px;
  }
  .making-process-card-container {
    width: 30%;
  }
  .animals-section {
    height: 100%;
  }
  .manufacturing-img {
    width: 40%;
  }
  /* perfume page */
  .perfume-video-title h2 {
    font-size: 50px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 38px;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 75px;
  }
  .percentage-level {
    padding: 50px;
  }
  .guiding-of-perfume-section h3 {
    text-align: center;
    font-size: 34px;
    padding: 40px;
  }
  .guiding-perfume-card h2 {
    font-size: 32px;
  }
  .different-smells h3 {
    font-size: 30px;
  }
  /* wheatgrass page */
  .wheat-grass-video-title h2 {
    font-size: 47px;
  }
  .wheat-grass-video-title {
    height: 50%;
  }
  /* .wheat-grass-contain img {
    height: 132lvh;
  } */
  /* juice page */
  .alovera-image-section {
    height: 230lvh;
  }
  .juice-business-section h2 {
    font-size: 50px;
  }
  .herbal {
    justify-content: normal;
  }
  .herbal-ul {
    gap: 30px;
  }
  /* contact-us page */
  .location-map {
    width: 40vw;
  }
}
@media (max-width: 1200px) {
  /* index page */
  /* nav-bar */
  .nav-bar {
    justify-content: space-between;
    gap: 0px;
  }
  .nav-ul {
    gap: 20px;
    margin-right: 35px;
  }
  a {
    font-size: 22px;
  }
  /* nav-bar end */
  .slogan-container {
    padding: 90px 50px;
  }
  .banner-container {
    height: 217lvh;
  }
  .slogan-container h1 {
    font-size: 55px;
  }

  .bottle-branding {
    padding: 70px 0px 0px;
    gap: 50px;
  }
  .bottle-branding img {
    width: 50%;
  }
  .bottle-branding h2 {
    font-size: 33px;
  }
  .fade-container h2 {
    font-size: 65px;
  }
  .banner-container {
    height: 200lvh;
  }
  /* about us page */
  .intro-container {
    padding: 90px;
  }
  .intro-para {
    font-size: 17px;
  }
  .welcome-container h2 {
    font-size: 70px;
    padding-bottom: 0px;
  }
  .welcome-container {
    padding: 90px;
  }
  .welcome-brief-info {
    font-size: 31px;
  }
  .welcome-section-contain {
    padding: 50px;
  }
  .manufacturing-img {
    width: 40%;
  }
  .our-section {
    padding: 90px;
    justify-content: space-between;
  }
  .our-section-card p {
    padding: 0px;
  }
  .our-section-card {
    width: 47%;
    padding: 65px;
  }
  .work-with-section {
    padding: 90px;
  }
  .work-with-section h2 {
    padding: 0 0 50px 0px;
  }
  .quality-complaince-section h2 {
    padding: 0 0 50px 0;
  }
  .quality-complaince-section {
    padding: 90px;
  }
  .corporate-section {
    padding: 90px;
  }

  .incorporate ul {
    padding: 30px 0px 0px 0px;
  }
  .incorporate li {
    padding: 10px 0px;
  }
  .donot-incorporate ul {
    padding: 30px 0px 0px 0px;
  }
  .donot-incorporate li {
    padding: 10px 0px;
  }
  .donot-incorporate h2 {
    font-size: 39px;
  }
  .incorporate h2 {
    font-size: 39px;
  }
  .process-of-making-section {
    padding: 90px;
  }
  .card-container-all {
    justify-content: center;
    gap: 40px;
  }
  .making-process-card-container {
    width: 30%;
  }
  .animals-section {
    height: 100%;
    padding: 90px;
  }
  /* perfume page */
  .perfume-video-title h2 {
    font-size: 45px;
    text-align: center;
    color: black;
    opacity: 0.7;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 70px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 35px;
  }
  .perfume-grade-alcohol-section {
    padding: 90px;
  }
  .percentage-level {
    padding: 50px;
    gap: 20px;
  }
  .percentage-level ul {
    font-size: 25px;
    gap: 35px;
  }
  .guiding-of-perfume-section {
    padding: 90px;
  }
  .guiding-of-perfume-section h3 {
    border-radius: 50px;
  }
  .guiding-perfume-card h2 {
    font-size: 29px;
  }
  .guiding-perfume-card ul {
    font-size: 22px;
  }

  .types-of-smell-section {
    padding: 90px;
  }
  .different-smells {
    width: 47%;
  }
  /* wheat-grass page */
  .wheat-grass-video-title h2 {
    font-size: 40px;
  }
  .wheat-grass-video-title {
    height: 52%;
  }
  .characteristics-and-properties-section h2 {
    font-size: 55px;
  }
  .characteristics-and-properties-section {
    padding: 90px;
  }

  .wheat-grass-contain-main {
    padding: 50px;
  }
  .wheat-grass-contain-main h4 {
    padding: 30px;
  }
  .wheat-grass-contain img {
    height: 380px;
  }
  .practicing-for-farming-section {
    padding: 90px;
  }
  .wheat-grass-packaging-section {
    padding: 90px;
  }
  .wheat-grass-benefit-section {
    padding: 90px;
  }
  .wheat-grass-effect-section {
    padding: 90px;
  }
  /* jucie page*/
  .alovera-image-section {
    height: 220lvb;
    padding: 90px;
  }
  .alovera-image-section h2 {
    font-size: 50px;
    padding: 0;
  }
  .juice-business-section {
    padding: 90px;
  }
  .juice-business-section h2 {
    font-size: 47px;
    padding: 30px;
  }
  .juice-business-section ul {
    font-size: 24px;
  }
  .juice-business-para {
    font-size: 29px;
  }
  .alovera-video-title {
    left: 100px;
    right: 100px;
  }
  .alovera-video-title h2 {
    font-size: 50px;
  }
  .herbal-juice-and-powder-section {
    padding: 90px;
  }
  .herbal-juice-and-powder-section h2 {
    font-size: 50px;
  }
  .herbal {
    justify-content: normal;
  }
  /* trending products page */
  .our-range-section-green-bg h2 {
    font-size: 70px;
  }
  .our-range-section-green-bg {
    padding: 90px;
  }
  .our-range-section-black-bg {
    padding: 90px;
  }
  .our-range-card-h3 {
    font-size: 27px;
  }
  /* contact-us page */
  .contact-us-section {
    padding: 90px;
  }
  .contact-us-main {
    justify-content: space-around;
  }
  .location-map {
    width: 100%;
  }
  .map {
    justify-content: space-evenly;
  }
  .single-map {
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* index page */
  /* nav-bar */
  .nav-logo {
    width: 100%;
  }
  a {
    font-size: 18px;
  }
  .nav-ul {
    gap: 20px;
    margin-right: 30px;
  }
  .logo-container {
    width: 17%;
  }
  .nav-bar {
    gap: 0px;
    justify-content: space-between;
  }
  .slogan-container h1 {
    font-size: 45px;
  }
  .banner-container {
    height: 180lvh;
  }
  .bottle-branding img {
    width: 45%;
  }
  .bottle-branding h2 {
    font-size: 27px;
  }
  .bottle-branding {
    gap: 50px;
    padding: 70px 0 0px;
  }
  .fade-container h2 {
    font-size: 50px;
  }

  /* about us page */
  .intro-para {
    padding: 50px;
    font-size: 15px;
  }
  .welcome-container {
    padding: 80px;
  }
  .welcome-container h2 {
    font-size: 60px;
    padding-bottom: 0px;
  }
  .welcome-brief-info {
    font-size: 28px;
  }
  .welcome-section-contain p {
    font-size: 22px;
  }
  .welcome-section-contain {
    padding: 50px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .manufacturing-img {
    width: 80%;
  }
  .our-section {
    padding: 80px;
    gap: 30px;
  }
  .our-section-card p {
    font-size: 21px;
  }
  .our-section-card {
    gap: 20px;
    width: 50%;
    padding: 35px;
  }
  .our-section-card h2 {
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
  }
  .work-with-section {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .work-with-section h2 {
    font-size: 55px;
    padding: 0px;
  }
  .work-with-section ul {
    gap: 20px;
  }
  .quality-complaince-section h2 {
    font-size: 55px;
    padding: 0px;
  }
  .quality-complaince-section {
    padding: 80px;
    gap: 50px;
  }
  .quality-complaince-section p {
    font-size: 28px;
    padding-bottom: 0px;
  }
  .quality-complaince-section ul {
    gap: 20px;
  }
  .corporate-section {
    padding: 80px;
    gap: 30px;
  }
  .incorporate {
    padding: 30px 20px;
  }
  .incorporate ul {
    font-size: 21px;
    padding: 20px;
  }
  .incorporate h2 {
    font-size: 35px;
  }
  .incorporate li {
    padding: 10px 0px 0px;
  }
  .donot-incorporate ul {
    font-size: 21px;
    padding: 20px;
  }
  .donot-incorporate {
    padding: 30px 20px;
  }
  .donot-incorporate h2 {
    font-size: 35px;
  }
  .donot-incorporate li {
    padding: 10px 0px 0px;
  }
  .process-of-making-section {
    padding: 80px;
  }
  .process-of-making-section h2 {
    padding: 0px 0px 50px 0px;
    font-size: 45px;
  }
  .card-container-all {
    justify-content: center;
    gap: 43px;
  }
  .making-process-card-container {
    width: 47%;
    justify-content: normal;
    gap: 20px;
  }
  .card-container-main h3 {
    font-size: 35px;
  }
  .animals-section {
    height: 100%;
    padding: 80px;
    gap: 35px;
  }
  .animals-section h2 {
    font-size: 50px;
  }
  .no-animal-testing ul {
    font-size: 24px;
  }
  .animal-testing-quote {
    padding: 30px 0px 0px;
    font-size: 31px;
  }
  /* perfume page */
  .perfume-video-title h2 {
    font-size: 38px;
  }
  .perfume-grade-alcohol-section {
    padding: 80px;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 60px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 29px;
    padding: 0;
  }
  .percentage-level {
    padding: 30px;
    border: 5px solid #795757;
  }
  .percentage-level ul {
    font-size: 20px;
    gap: 30px;
  }
  .guiding-of-perfume-section {
    padding: 80px;
  }
  .guiding-of-perfume-section h3 {
    font-size: 29px;
    padding: 30px;
    border-radius: 50px;
  }
  .guiding-perfume-card h2 {
    font-size: 22px;
  }
  .guiding-perfume-card ul {
    font-size: 20px;
    gap: 10px;
  }
  .types-of-smell-section {
    padding: 80px;
  }
  .types-of-smell-section h2 {
    font-size: 50px;
    padding-bottom: 70px;
  }
  .different-smells {
    width: 47%;
  }
  .different-smells ul {
    gap: 5px;
  }
  .different-smells h3 {
    font-size: 31px;
    padding: 50px 0 30px 0;
  }
  /* wheat-grass page */
  .wheat-grass-video-title {
    top: 150px;
    right: 20px;
    left: 0px;
    height: 0px;
  }
  .wheat-grass-video-title h2 {
    font-size: 30px;
  }
  .characteristics-and-properties-section {
    padding: 80px;
    gap: 50px;
  }
  .characteristics-and-properties-section h2 {
    font-size: 42px;
  }
  .wheat-grass-contain-main {
    padding: 50px;
  }
  .wheat-grass-contain-main h4 {
    font-size: 30px;
    padding: 30px;
  }
  .wheat-grass-contain {
    flex-direction: column;
  }
  .wheat-grass-contain img {
    width: 75%;
  }
  .practicing-for-farming-section h2 {
    font-size: 42px;
  }
  .practicing-for-farming-section {
    padding: 80px;
  }
  .practicing-for-farming-section ul {
    gap: 15px;
    font-size: 22px;
  }
  .wheat-grass-packaging-section h2 {
    font-size: 40px;
  }
  .wheat-grass-packaging-section {
    padding: 80px;
  }
  .wheat-grass-packaging-section ul {
    width: 80%;
    gap: 20px;
    font-size: 22px;
  }
  .wheat-grass-benefit-section h2 {
    font-size: 42px;
  }
  .wheat-grass-benefit-section ul {
    gap: 15px;
    font-size: 22px;
  }
  .wheat-grass-benefit-section {
    padding: 80px;
  }
  .wheat-grass-effect-section {
    padding: 80px;
  }
  .wheat-grass-effect-section h2 {
    font-size: 42px;
  }
  .wheat-grass-effect-section ul {
    gap: 15px;
    font-size: 22px;
  }
  /* juice page */

  .alovera-image-section h2 {
    font-size: 42px;
    padding: 0px;
  }
  .alovera-image-section {
    padding: 80px;
    height: 150lvb;
  }
  .juice-business-section h2 {
    font-size: 38px;
    padding: 20px;
    border-radius: 20px;
  }
  .juice-business-section h3 {
    font-size: 42px;
  }
  .juice-business-section ul {
    font-size: 22px;
  }
  .juice-business-para {
    font-size: 25px;
  }
  .alovera-video-title h2 {
    font-size: 42px;
  }
  .herbal-juice-and-powder-section {
    padding: 80px;
    gap: 70px;
  }
  .herbal-juice-and-powder-section h2 {
    font-size: 42px;
  }
  .herbal {
    gap: 30px;
    justify-content: normal;
  }
  .herbal-ul {
    gap: 10px;
    flex-direction: column;
  }
  .herbal-juice-and-powder-section h3 {
    font-size: 33px;
  }
  .herbal ul {
    font-size: 19px;
    gap: 10px;
  }
  /* trending products */
  .our-range-section-green-bg {
    padding: 80px;
    gap: 50px;
  }
  .our-range-section-green-bg h2 {
    font-size: 60px;
  }
  .our-range-card-green-bg {
    width: 47%;
    gap: 10px;
  }
  .our-range-card-container {
    justify-content: center;
  }
  .our-range-card-h3 {
    font-size: 25px;
  }
  .our-range-section-black-bg {
    padding: 80px;
  }
  .our-range-card-black-bg {
    width: 47%;
    gap: 10px;
  }
  /* contact-us page */
  .contact-us-section {
    padding: 80px;
  }
  .contact-info {
    width: 100%;
  }
  .contact-info p {
    font-size: 18px;
  }
  .contact-info h3 {
    font-size: 25px;
  }
  .location-map {
    width: 100%;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  /* index page */

  .nav-ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: 0;
    background-color: #fff;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .nav-ul.show {
    display: flex;
  }
  .logo-container {
    width: 30%;
    padding-top: 0px;
  }
  .hamburger {
    display: flex;
    margin-right: 35px;
    width: 30px;
    height: 20px;
  }
  .hamburger .line {
    height: 4px;
  }
  .slogan-container h1 {
    font-size: 33px;
  }
  .banner-container {
    height: 138lvh;
  }
  .bottle-branding {
    flex-direction: column;
    gap: 70px;
  }
  .bottle-branding img {
    width: 80%;
  }
  .bottle-branding h2 {
    font-size: 32px;
    text-align: center;
  }
  .bottle-branding {
    padding: 0px;
  }
  .fade-container h2 {
    font-size: 35px;
  }
  .footer-main p {
    font-size: 18px;
  }
  .footer-links a {
    font-size: 18px;
  }
  .footer-a {
    height: 40px;
    width: 40px;
  }
  .footer-main {
    gap: 10px;
  }

  /* about us page */
  .intro-container {
    padding: 70px;
  }
  .intro-para {
    font-size: 14px;
  }
  .black-bg {
    flex-direction: column;
  }
  .cannabis-img {
    padding: 0 120px 50px 120px;
  }
  .welcome-container h2 {
    font-size: 45px;
    padding: 0px;
  }
  .welcome-container {
    padding: 70px;
    gap: 40px;
  }
  .welcome-brief-info {
    font-size: 25px;
  }
  .welcome-section-contain {
    flex-direction: column;
    padding: 50px;
    margin: 0px;
  }
  .manufacturing-img {
    width: 100%;
  }
  .our-section {
    padding: 70px;
    flex-direction: column;
    gap: 50px;
  }

  .our-section-card {
    padding: 50px;
    width: 100%;
    gap: 30px;
  }
  .our-section-card p {
    font-size: 21px;
    padding: 0px;
  }
  .our-section-card h2 {
    font-size: 40px;
    padding: 0px;
  }
  .work-with-section {
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .work-with-section h2 {
    font-size: 41px;
    padding: 0px;
  }
  .work-with-section ul {
    font-size: 22px;
    gap: 15px;
  }
  .quality-complaince-section {
    gap: 50px;
    padding: 70px;
  }
  .quality-complaince-section h2 {
    font-size: 41px;
    padding: 0px;
  }
  .quality-complaince-section ul {
    gap: 15px;
    font-size: 22px;
  }
  .quality-complaince-section p {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .corporate-section {
    padding: 70px;
    flex-direction: column;
  }
  .incorporate {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .incorporate ul {
    font-size: 22px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .incorporate li {
    padding: 0px;
  }
  .incorporate h2 {
    font-size: 45px;
  }
  .donot-incorporate {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .donot-incorporate ul {
    font-size: 22px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .donot-incorporate li {
    padding: 0px;
  }
  .donot-incorporate h2 {
    font-size: 45px;
  }
  .process-of-making-section {
    padding: 70px;
  }
  .process-of-making-section h2 {
    padding: 0px;
    font-size: 38px;
  }
  .card-container-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .card-container-all {
    justify-content: center;
    gap: 25px;
  }
  .making-process-card-container {
    width: 45%;
    justify-content: start;
  }
  .making-process-card-container p {
    font-size: 17px;
  }
  .card-container-main h3 {
    padding: 0px;
    font-size: 33px;
  }
  .animals-section h2 {
    font-size: 45px;
  }
  .animals-section {
    padding: 70px;
    gap: 30px;
    height: 100%;
  }
  .no-animal-testing h3 {
    font-size: 30px;
  }
  .no-animal-testing ul {
    font-size: 22px;
  }
  .animal-testing-quote {
    text-align: center;
    font-size: 25px;
    padding: 20px 20px 0px 20px;
  }

  /* perfume page */
  .perfume-video-title h2 {
    font-size: 26px;
  }
  .perfume-video-title {
    padding-top: 50px;
  }
  .perfume-grade-alcohol-section {
    padding: 70px;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 45px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 25px;
    padding: 0;
  }
  .percentage-level {
    padding: 50px;
    flex-direction: column;
    gap: 50px;
    border: 5px solid #795757;
  }
  .percentage-level ul {
    font-size: 22px;
    gap: 10px;
  }

  .guiding-of-perfume-section h3 {
    font-size: 25px;
    padding: 25px;
    border-radius: 20px;
  }
  .guiding-of-perfume-section {
    padding: 70px;
  }
  .guiding-perfume-card h2 {
    font-size: 30px;
  }
  .guiding-perfume-card {
    width: 100%;
    border-radius: 20px;
  }
  .guiding-perfume-card ul {
    font-size: 21px;
    gap: 10px;
  }
  .types-of-smell-section {
    padding: 70px;
  }
  .types-of-smell-section h2 {
    font-size: 45px;
    padding-bottom: 100px;
  }
  .all-smells {
    justify-content: space-between;
    gap: 50px;
  }
  .different-smells {
    width: 45%;
  }

  /* wheatgrass page */
  .wheat-grass-video-title {
    bottom: 100px;
  }
  .wheat-grass-video-title h2 {
    font-size: 25px;
  }
  .characteristics-and-properties-section {
    padding: 70px;
  }
  .characteristics-and-properties-section h2 {
    font-size: 33px;
  }
  .wheat-grass-contain ul {
    font-size: 19px;
    border-radius: 30px;
    padding: 30px 10px 30px 30px;
    gap: 5px;
  }
  .wheat-grass-contain-main {
    padding: 50px;
  }
  .wheat-grass-contain-main h4 {
    font-size: 27px;
    padding: 25px;
  }
  .wheat-grass-contain {
    flex-direction: column;
  }
  .practicing-for-farming-section {
    padding: 70px;
  }
  .practicing-for-farming-section h2 {
    font-size: 33px;
  }
  .practicing-for-farming-section ul {
    gap: 15px;
    font-size: 22px;
  }
  .wheat-grass-packaging-section {
    padding: 70px;
  }
  .wheat-grass-packaging-section h2 {
    font-size: 33px;
  }
  .wheat-grass-packaging-section ul {
    font-size: 20px;
    width: 87%;
    gap: 15px;
  }
  .wheat-grass-benefit-section {
    padding: 70px;
  }
  .wheat-grass-benefit-section h2 {
    font-size: 33px;
  }
  .wheat-grass-benefit-section ul {
    gap: 15px;
    font-size: 20px;
  }
  .wheat-grass-effect-section {
    padding: 70px;
  }
  .wheat-grass-effect-section h2 {
    font-size: 33px;
  }
  .wheat-grass-effect-section ul {
    gap: 15px;
    font-size: 20px;
  }
  .wheat-grass-contain img {
    width: 80%;
  }

  /* juice page */
  .alovera-image-section h2 {
    font-size: 33px;
    padding: 70px 35px;
  }
  .alovera-image-section {
    padding: 0px 30px 0px;
    height: 130lvh;
  }
  .juice-business-section {
    padding: 70px;
  }
  .juice-business-section h2 {
    font-size: 29px;
    padding: 20px;
  }
  .juice-business-section h3 {
    font-size: 33px;
  }
  .juice-busniess {
    gap: 30px;
  }
  .juice-business-section ul {
    font-size: 22px;
    gap: 15px;
  }
  .juice-business-para {
    font-size: 24px;
  }
  .alovera-video-title {
    left: 5%;
    right: 5%;
  }
  .alovera-video-title h2 {
    font-size: 35px;
    padding: 5px;
  }
  .herbal-juice-and-powder-section {
    padding: 70px;
    gap: 70px;
  }
  .herbal-juice-and-powder-section h2 {
    font-size: 33px;
  }
  .herbal-juice-and-powder-section h3 {
    font-size: 28px;
  }
  .herbal-juice-and-powder {
    gap: 50px;
  }
  .herbal {
    padding: 30px;
    gap: 30px;
    justify-content: start;
  }
  .herbal-ul {
    flex-direction: column;
    gap: 10px;
  }
  .herbal ul {
    font-size: 17px;
    gap: 10px;
  }

  /* trending-products page */
  .our-range-section-green-bg {
    padding: 70px;
    gap: 50px;
  }
  .our-range-card-green-bg {
    width: 45%;
    gap: 15px;
  }
  .our-range-card-container {
    justify-content: center;
  }
  .our-range-section-green-bg h2 {
    font-size: 50px;
  }
  .our-range-card-details {
    gap: 20px;
  }
  .our-range-card-h3 {
    font-size: 25px;
  }
  .our-range-card-ul {
    font-size: 17px;
  }
  .our-range-section-black-bg {
    padding: 70px;
  }
  .our-range-card-black-bg {
    width: 45%;
    gap: 15px;
  }
  /* contact us page */
  .contact-us-section {
    padding: 70px;
  }
  .form-page {
    padding: 30px;
  }
  .form-page h2 {
    font-size: 45px;
  }
  .submit-btn {
    font-size: 18px;
    height: 45px;
  }
  .contact-info {
    width: 45%;
  }
  .contact-us-main {
    flex-wrap: wrap;
  }
  .contact-info h3 {
    font-size: 28px;
  }
  .contact-info p {
    font-size: 18px;
  }
  .map {
    flex-direction: column;
    gap: 70px;
  }
}
@media (max-width: 576px) {
  /* index page */
  /* nav-bar */
  .logo-container {
    width: 30%;
    padding-top: 10px;
  }
  .hamburger {
    margin-right: 20px;
  }
  .nav-bar {
    padding: 0px 20px 0px 0px;
  }

  /* nav-bar end */
  .slogan-container {
    padding: 50px;
  }
  .slogan-container h1 {
    font-size: 25px;
  }
  .banner-container {
    height: 100lvh;
  }
  .bottle-branding {
    padding: 35px 0px;
  }
  .bottle-branding h2 {
    font-size: 23px;
    text-align: center;
  }
  .fade-container h2 {
    font-size: 25px;
  }
  .fade-container {
    padding-top: 70px;
  }
  .footer-main p {
    font-size: 14px;
  }
  .footer-links a {
    font-size: 14px;
  }
  .footer-links {
    gap: 15px;
  }
  .footer-a {
    height: 30px;
    width: 30px;
  }

  /* about us page */
  .intro-container {
    padding: 50px;
  }
  .intro-para {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 11px;
  }
  .black-bg {
    flex-direction: column;
  }
  .cannabis-img {
    padding: 40px;
  }
  .welcome-container {
    display: flex;
    padding: 50px;
  }
  .welcome-container h2 {
    font-size: 33px;
    padding-bottom: 0px;
  }
  .welcome-brief-info {
    font-size: 17px;
  }
  .welcome-container {
    gap: 40px;
  }
  .welcome-section-contain {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
  .welcome-section-contain p {
    font-size: 17px;
  }
  .manufacturing-img {
    width: 100%;
    border-radius: 10px;
  }
  .our-section {
    flex-direction: column;
    padding: 50px;
    gap: 40px;
  }
  .our-section-card {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  .our-section-card h2 {
    font-size: 35px;
    text-align: center;
  }
  .our-section-card p {
    font-size: 17px;
    font-weight: 100;
  }
  .work-with-section h2 {
    font-size: 35px;
    padding: 0px;
    text-align: center;
  }

  .work-with-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .work-with-section ul {
    gap: 10px;
    font-size: 17px;
  }
  .quality-complaince-section h2 {
    font-size: 35px;
    padding: 0px;
    text-align: center;
  }
  .quality-complaince-section p {
    font-size: 18px;
    padding-bottom: 0px;
  }
  .quality-complaince-section {
    padding: 50px;
    gap: 30px;
  }
  .quality-complaince-section ul {
    gap: 10px;
    font-size: 17px;
  }
  .corporate-section {
    padding: 50px;
    flex-direction: column;
  }
  .incorporate {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .incorporate h2 {
    font-size: 35px;
  }
  .incorporate ul {
    font-size: 17px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .incorporate li {
    padding: 0px;
  }
  .donot-incorporate {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .donot-incorporate h2 {
    font-size: 35px;
  }
  .donot-incorporate ul {
    font-size: 17px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .donot-incorporate li {
    padding: 0px;
  }
  .process-of-making-section {
    padding: 50px;
  }
  .process-of-making-section h2 {
    padding: 0px;
    font-size: 35px;
    color: black;
  }
  .card-container-main {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #23c523;
  }
  .card-container-all {
    gap: 50px;
    flex-direction: column;
  }
  .making-process-card-container {
    width: 100%;
  }
  .making-process-card-container img {
    padding: 10px;
  }
  .numbering-p {
    border: 2px solid white;
    width: 40px;
    height: 40px;
    color: white !important;
  }
  .making-process-card-container p {
    font-size: 22px;
    font-weight: 800;
    color: black;
  }
  .card-container-main h3 {
    padding: 0px;
    font-size: 29px;
    color: black;
  }
  .animals-section {
    padding: 50px;
    height: 100%;
  }
  .animals-section h2 {
    font-size: 35px;
  }
  .no-animal-testing h3 {
    font-size: 25px;
  }
  .no-animal-testing ul {
    font-size: 17px;
  }
  .animal-testing-quote {
    font-size: 19px;
    padding: 0px;
  }

  /* perfume page */

  .perfume-video-title {
    padding-top: 30px;
  }
  .perfume-video-title h2 {
    font-size: 21px;
  }
  .perfume-grade-alcohol-section {
    padding: 50px;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 35px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 19px;
    padding: 0px;
  }
  .percentage-level {
    flex-direction: column;
    gap: 30px;
    padding: 35px;
    border: 5px solid #795757;
  }
  .percentage-level ul {
    font-size: 17px;
    gap: 20px;
  }
  .guiding-of-perfume-section {
    padding: 50px;
    gap: 50px;
  }
  .guiding-of-perfume-section h3 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
  }
  .guiding-perfume-card ul {
    font-size: 17px;
    gap: 10px;
  }
  .guiding-perfume-card {
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    gap: 30px;
  }
  .guiding-perfume-card h2 {
    font-size: 25px;
    text-align: center;
  }
  .types-of-smell-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .types-of-smell-section h2 {
    font-size: 35px;
    padding-bottom: 0px;
  }
  .all-smells {
    justify-content: center;
  }
  .different-smells {
    width: 90%;
  }
  .different-smells h3 {
    font-size: 25px;
    padding: 30px 0;
    font-weight: 800;
  }
  .different-smells ul {
    font-size: 17px;
    gap: 0px;
  }

  /* wheatgrass page */

  .wheat-grass-video-title {
    /* height: 130px; */
    top: 100px;
  }
  .wheat-grass-video-title h2 {
    font-size: 20px;
  }
  .characteristics-and-properties-section h2 {
    font-size: 25px;
  }
  .characteristics-and-properties-section {
    padding: 50px;
    gap: 40px;
  }
  .wheat-grass-contain-main h4 {
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .wheat-grass-contain-main {
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
  }
  .wheat-grass-contain {
    flex-direction: column;
  }
  .wheat-grass-contain ul {
    font-size: 16px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px;
    gap: 0px;
  }
  .wheat-grass-contain img {
    border: 3px solid black;
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
  .practicing-for-farming-section {
    padding: 50px;
    gap: 30px;
  }
  .practicing-for-farming-section h2 {
    font-size: 25px;
  }
  .practicing-for-farming-section ul {
    gap: 0;
    font-size: 17px;
  }
  section h2 {
    font-size: 30px;
    text-shadow: 5px 0px black;
  }
  .wheat-grass-packaging-section {
    padding: 50px;
  }
  .wheat-grass-packaging-section h2 {
    font-size: 30px;
  }
  .wheat-grass-packaging-section ul {
    width: 100%;
    gap: 0px;
    font-size: 17px;
    font-weight: 100;
    text-shadow: 1px 1px black;
    color: white;
  }
  .wheat-grass-benefit-section {
    padding: 50px;
    gap: 30px;
  }
  .wheat-grass-benefit-section h2 {
    font-size: 25px;
  }
  .wheat-grass-benefit-section ul {
    gap: 10px;
    font-size: 17px;
  }
  .wheat-grass-effect-section {
    padding: 50px;
  }
  .wheat-grass-effect-section h2 {
    font-size: 25px;
  }
  .wheat-grass-effect-section ul {
    gap: 10px;
    font-size: 17px;
  }
  .wheat-grass-effect {
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
  }
  .wheat-grass-effect:hover {
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
  }
  /* juice page */
  .alovera-image-section {
    padding: 55px 20px;
  }
  .alovera-image-section h2 {
    font-size: 27px;
    padding: 0;
  }

  .juice-business-section {
    padding: 50px;
  }
  .juice-business-section h2 {
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
  }
  .juice-business-section h3 {
    font-size: 25px;
  }
  .juice-busniess {
    gap: 20px;
  }
  .juice-business-section ul {
    font-size: 17px;
    gap: 10px;
  }
  .juice-business-para {
    font-size: 18px;
  }
  .alovera-video-title {
    left: 5%;
    right: 5%;
  }
  .alovera-video-title h2 {
    font-size: 30px;
    padding: 5px;
  }
  .herbal-juice-and-powder-section h2 {
    font-size: 30px;
    padding: 10px;
  }
  .herbal-juice-and-powder-section {
    padding: 50px;
    gap: 30px;
  }
  .herbal-juice-and-powder {
    flex-direction: column;
  }
  .herbal {
    width: 100%;
    padding: 30px;
    gap: 30px;
    border-radius: 20px;
  }
  .herbal-juice-and-powder-section h3 {
    font-size: 25px;
  }
  .herbal-ul {
    gap: 36px;
  }
  .herbal ul {
    font-size: 17px;
    font-weight: 100;
    gap: 0px;
  }

  /* trending products page */
  .our-range-section-green-bg {
    padding: 50px;
    gap: 40px;
  }
  .our-range-card-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .our-range-section-green-bg h2 {
    font-size: 40px;
  }
  .our-range-card-green-bg {
    width: 70%;
    border: 3px solid white;
    border-radius: 20px;
    gap: 20px;
  }
  .our-range-card-h3 {
    font-size: 20px;
  }
  .our-range-card-ul {
    font-size: 15px;
  }
  .our-range-card-details {
    gap: 20px;
  }
  .our-range-section-black-bg {
    padding: 50px;
  }
  .our-range-card-black-bg {
    width: 70%;
    border: 3px solid white;
    border-radius: 20px;
    gap: 20px;
  }

  /* contact us page */
  .contact-us-section {
    padding: 50px;
    gap: 50px;
  }
  .form-page {
    padding: 0px;
  }
  .form-page h2 {
    font-size: 40px;
  }
  .form-data {
    width: 70%;
    font-size: 17px;
  }
  .submit-btn {
    width: 35%;
    font-size: 15px;
    height: 40px;
  }
  .logo {
    width: 50px;
    height: 50px;
    padding: 17px 0px 0px 0px;
    font-size: 18px;
  }
  .contact-us-main {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .contact-info {
    display: flex;
    width: 45%;
    gap: 10px;
  }
  .contact-info h3 {
    font-size: 25px;
  }
  .contact-info p {
    font-size: 17px;
  }
  .map {
    flex-direction: column;
  }
  .location-map {
    padding: 10px;
    border: 3px solid;
    width: 100%;
    height: 100vh;
  }
  .single-map h2 {
    font-size: 25px;
  }
}
@media (max-width: 427px) {
  /* index page */
  .hamburger {
    margin: 0px;
  }
  .banner-container {
    height: 100%;
  }
  .slogan-container {
    padding: 30px;
  }
  .slogan-container h1 {
    font-size: 21px;
  }
  .banner-container {
    height: 50lvh;
  }
  .bottle-branding {
    padding: 0px;
    gap: 50px;
  }
  .bottle-branding h2 {
    font-size: 20px;
    text-align: center;
  }
  .fade-container {
    padding-top: 50px;
  }
  .fade-container {
    padding-top: 45px;
  }
  .footer-a {
    height: 20px;
    width: 20px;
  }
  .footer-socials {
    gap: 30px;
  }

  /* about us page   */
  .intro-para {
    padding: 20px;
    font-size: 10px;
  }

  .cannabis-img-container {
    width: 100%;
  }
  .welcome-container h2 {
    font-size: 27px;
  }
  .welcome-brief-info {
    font-size: 16px;
  }
  .welcome-section-contain p {
    font-size: 16px;
  }
  .welcome-container {
    gap: 25px;
  }
  .our-section-card h2 {
    font-size: 27px;
  }
  .our-section-card {
    gap: 30px;
  }
  .our-section-card p {
    font-size: 16px;
    text-align: center;
  }
  .work-with-section h2 {
    font-size: 27px;
  }
  .work-with-section {
    gap: 20px;
  }
  .work-with-section ul {
    font-size: 16px;
  }
  .quality-complaince-section h2 {
    font-size: 27px;
    text-align: start;
  }
  .quality-complaince-section p {
    font-size: 17px;
  }
  .quality-complaince-section ul {
    gap: 5px;
    font-size: 16px;
  }
  .incorporate h2 {
    font-size: 27px;
  }
  .incorporate {
    padding: 30px;
  }
  .incorporate ul {
    font-size: 16px;
    gap: 6px;
  }
  .donot-incorporate h2 {
    font-size: 27px;
  }
  .donot-incorporate {
    padding: 30px;
  }

  .donot-incorporate ul {
    font-size: 16px;
    gap: 6px;
  }
  .process-of-making-section h2 {
    font-size: 27px;
  }
  .card-container-main h3 {
    font-size: 23px;
  }
  .animals-section h2 {
    font-size: 27px;
  }
  .no-animal-testing h3 {
    font-size: 23px;
  }
  .no-animal-testing ul {
    font-size: 16px;
  }
  .animal-testing-quote {
    font-size: 17px;
  }

  /* perfume page */
  .perfume-video-title h2 {
    font-size: 17px;
  }
  .perfume-grade-alcohol-section h1 {
    font-size: 27px;
  }
  .perfume-grade-alcohol-section h3 {
    font-size: 18px;
    padding: 0px;
  }
  .percentage-level ul {
    font-size: 16px;
  }
  .percentage-level {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 3px solid #795757;
    border-radius: 15px;
  }
  .guiding-of-perfume-section h3 {
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
  }
  .guiding-perfume-card ul {
    font-size: 16px;
    gap: 5px;
  }
  .guiding-perfume-card h2 {
    font-size: 20px;
  }
  .types-of-smell-section h2 {
    font-size: 27px;
  }
  .types-of-smell-section {
    gap: 30px;
  }
  .different-smells h3 {
    font-size: 23px;
    padding: 20px 0px 10px 0;
  }
  .wheat-grass-video-title {
    /* left: 20px; */
    /* width: 90%; */
    top: 50px;
  }
  .wheat-grass-video-title h2 {
    font-size: 15px;
  }
  .characteristics-and-properties-section h2 {
    font-size: 21px;
  }
  .wheat-grass-contain-main h4 {
    font-size: 17px;
    padding: 10px;
  }
  .wheat-grass-contain-main {
    gap: 20px;
    padding: 15px;
    border-radius: 20px;
  }
  .wheat-grass-contain {
    gap: 20px;
  }
  .wheat-grass-contain img {
    height: 100%;
  }
  .practicing-for-farming-section h2 {
    font-size: 23px;
  }
  .practicing-for-farming-section ul {
    font-size: 16px;
  }
  .wheat-grass-packaging-section {
    padding: 30px;
  }
  .wheat-grass-packaging-section h2 {
    font-size: 24px;
  }
  .wheat-grass-packaging-section {
    gap: 30px;
  }
  .wheat-grass-packaging-section ul {
    font-size: 16px;
    gap: 5px;
  }
  .wheat-grass-benefit-section h2 {
    font-size: 23px;
  }
  .wheat-grass-benefit-section ul {
    gap: 5px;
    font-size: 16px;
  }
  .wheat-grass-effect-section h2 {
    font-size: 23px;
  }
  .wheat-grass-effect-section ul {
    gap: 5px;
    font-size: 16px;
  }

  /* juice page */
  .alovera-image-section h2 {
    font-size: 23px;
    padding: 20px 0px;
  }
  .juice-business-section h2 {
    font-size: 23px;
    padding: 10px;
  }
  .juice-business-section h3 {
    font-size: 23px;
  }
  .juice-business-section ul {
    font-size: 16px;
    gap: 5px;
  }
  .juice-business-para {
    font-size: 17px;
  }
  .alovera-video-title h2 {
    font-size: 20px;
  }
  .herbal-juice-and-powder-section h2 {
    font-size: 23px;
  }
  .herbal-juice-and-powder-section h3 {
    font-size: 23px;
  }
  .herbal {
    width: 100%;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
  }
  .herbal-ul {
    gap: 0px;
    flex-direction: column;
  }
  /* trending products page */
  .our-range-card-green-bg {
    width: 100%;
    gap: 10px;
  }
  .our-range-card-black-bg {
    width: 100%;
    gap: 10px;
  }
  .our-range-section-green-bg h2 {
    font-size: 30px;
  }

  /* contact us page */
  .form-page h2 {
    font-size: 30px;
  }
  .form-data {
    width: 80%;
    font-size: 16px;
  }
  .submit-btn {
    width: 40%;
    font-size: 10px;
    height: 33px;
  }
  .logo {
    width: 40px;
    height: 40px;
    padding: 12px 0px 0px 0px;
    font-size: 16px;
  }
  .contact-info p {
    font-size: 16px;
  }
  .contact-info h3 {
    font-size: 21px;
  }
  .single-map h2 {
    font-size: 22px;
  }
  .single-map {
    gap: 25px;
  }
}
